.container-1 ,.container-2 ,.container-3,.container-4{
    border: 1px solid black;
    padding: 10px;
    width: 75%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}
.flex-box-container-1{
    border: 1px solid black ;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.flex-box-container-1 div {
    padding: 10px;
    border: 1px solid black;
}
.flex-box-container-2 , .flex-box-pick-color {
    border: 1px solid black ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
}

.flex-box-container-2 img{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}

/* container 3 */


.flex-box-rps{
    border: 1px solid black ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
}

.flex-box-rps img:hover {
    box-shadow: 0px 10px 50px rgb(0, 26, 255);
    padding: 10px;

}

.flex-box-rps img {
    padding: 10px;
}
